.Rproj.user/
.Rproj.user/shared/notebooks/paths
.Rhistory
.RData
.Ruserdata
.rds
.bin
.model
/data/bert_data
/data/regression_analyses
/data/sensitivity_checks
/data/text_results
/data/word_embeddings
.Rproj.user
